.grid-title-main {
    background:	#363333	
}

.grid-title-minor-1 {
    background: #272121
}

.grid-title-minor-2 {
    background: #e16428
}

.grid-title-minor-3 {
    background: #f6e9e9
}

.fullscreenGrid {
    height: 100%;
    width: 100%;
}